@use "sass:map"

.Welcome__page, .Welcome__Wrapper, .Welcome__p
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    text-align: center
    
.Logo_OD
  display: flex
  width: 500px
  height: auto

.Welcome__Wrapper
  background-image: url("../parchemin__welcome.webp")
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  width: auto
  height: 1000px

.Welcome__h2
  padding-left: 10px
.Welcome__p
  width: 800px
  height: auto
  


