@use "variables" as *
@use "mixins" as *

.not-found-page
  @include full-page
  text-align: center
  padding: 2rem
  gap: 0.5rem // resserre l'espacement vertical entre les éléments

  h1
    margin: 0

  &__message
    margin: 3px
    background-color: $gold
    box-shadow: $glow-box

  &__text
    max-width: 500px
    margin: 0

  &__link
    @include button-wood
    padding: 0.5rem 1.5rem
    font-family: $font-mono
    font-size: 0.85rem
    text-transform: uppercase

    &:focus
      @include focus-ring
