@use "sass:map"

.Header__Nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 10
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  padding: 50px 5% 0

.Link__Index
  background-image: url("../index__parchemin.webp")
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  padding: 1.5%

.Link__About
  background-image: url("../about__parchemin.webp")
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  padding: 1.5%

.Link__Contact
  background-image: url("../contact__parchemin.webp")
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  padding: 1.5%